<div class="main-wrapper">
	<div class="account-page">
		<div class="container">
			<h3 class="account-title">S.D.Clicks - Admin Login</h3>
			<div class="account-box">
				<div class="account-wrapper">
					<div class="account-logo">
						<a href="#"><img src="/admin/assets/img/logo2.png" alt="Focus Technologies"></a>
					</div>
					{{#if message}}
						<div class="alert alert-danger">
							<strong>Error! </strong>{{message}}
						</div>
            		{{/if}}
					<form action="/admin" method="POST" name="admin_login_form" id="admin_login_form">
						<input type="hidden" name="_csrf" value="{{csrfToken}}">
						<div class="form-group form-focus">
							<label class="control-label">Username or Email</label>
							<input class="form-control floating" type="text" name="email" id="name">
						</div>
						<label for="name" class="error"></label>

						<div class="form-group form-focus">
							<label class="control-label">Password</label>
							<input class="form-control floating" type="password" name="password" id="password">
						</div>
						<label for="password" class="error"></label>

						<div class="form-group text-center">
							<button class="btn btn-primary btn-block account-btn" type="submit" id="admin_login">Login</button>
						</div>
						<div class="text-center">
							<a href="forgot-password.html">Forgot your password?</a>
						</div>

						<div class="text-center">
							<a class="btn btn-block btn-social btn-google" href="/admin/google">
								<i class="fa fa-google-plus"></i> Sign in with Google
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{#content "script"  mode="append"}}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".alert").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert").slideUp(500);
            });

			$('#admin_login').on('click', function () {
				var valid = $('#admin_login_form').valid();
				if(valid){
					$('#admin_login_form').submit;
				}
			});

			$('#admin_login_form').validate({
				rules:{
					email:{
						required: true
					},
					password: {
						required: true
					}
				},
				messages:{
					email:{
						required: "Please enter your email id."
					},
					password: {
						required: "Please enter your password."
					}
				}
			});
		});

	</script>
{{/content}}