<!DOCTYPE html>
<html>
    
<!-- Mirrored from dreamguys.co.in/smarthr/dark/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Jun 2018 10:43:14 GMT -->
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<link rel="shortcut icon" type="image/x-icon" href="/admin/assets/img/favicon.png">
        <title>Login - HRMS admin template</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/admin/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/admin/assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/admin/assets/css/style.css">
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
        {{{body}}}
		<div class="sidebar-overlay" data-reff="#sidebar"></div>
        {{#block "script"}}
        <script type="text/javascript" src="/admin/assets/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/admin/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/admin/assets/js/app.js"></script>
        {{/block}}
    </body>

<!-- Mirrored from dreamguys.co.in/smarthr/dark/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Jun 2018 10:43:14 GMT -->
</html>