<!DOCTYPE html>
<html>
    
<!-- Mirrored from dreamguys.co.in/smarthr/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Jun 2018 10:42:53 GMT -->
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
        <title>Dashboard - S.D.Clicks</title>
		<link href="../../../fonts.googleapis.com/css2f55.css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/admin/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/admin/assets/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/admin/assets/plugins/morris/morris.css">
        <link rel="stylesheet" type="text/css" href="/admin/assets/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
		<link rel="stylesheet" type="text/css" href="/admin/assets/css/dataTables.bootstrap.min.css">

		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
        <div class="main-wrapper">
            {{> admin/admin_dashboard_header}}
            
            {{> admin/admin_dashboard_sidebar}}
            
            {{{body}}}
        </div>
		<div class="sidebar-overlay" data-reff="#sidebar"></div>
        {{#block "admin_dashboard_script"}}
        <script type="text/javascript" src="/admin/assets/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/admin/assets/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/admin/assets/js/dataTables.bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
        <script type="text/javascript" src="/admin/assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/admin/assets/js/jquery.slimscroll.js"></script>
		<script type="text/javascript" src="/admin/assets/plugins/morris/morris.min.js"></script>
		<script type="text/javascript" src="/admin/assets/plugins/raphael/raphael-min.js"></script>
		<script type="text/javascript" src="/admin/assets/js/app.js"></script>
		<!-- CK Editor -->
		<script type="text/javascript" src="/admin/assets/js/ckeditor/ckeditor.js"></script>
		<script>
            var data = [
			  { y: '2014', a: 50, b: 90},
			  { y: '2015', a: 65,  b: 75},
			  { y: '2016', a: 50,  b: 50},
			  { y: '2017', a: 75,  b: 60},
			  { y: '2018', a: 80,  b: 65},
			  { y: '2019', a: 90,  b: 70},
			  { y: '2020', a: 100, b: 75},
			  { y: '2021', a: 115, b: 75},
			  { y: '2022', a: 120, b: 85},
			  { y: '2023', a: 145, b: 85},
			  { y: '2024', a: 160, b: 95}
			],
			config = {
			  data: data,
			  xkey: 'y',
			  ykeys: ['a', 'b'],
			  labels: ['Total Income', 'Total Outcome'],
			  fillOpacity: 0.6,
			  hideHover: 'auto',
			  behaveLikeLine: true,
			  resize: true,
			  pointFillColors:['#ffffff'],
			  pointStrokeColors: ['black'],
				gridLineColor: '#eef0f2',
			  lineColors:['gray','orange']
		  };
            config.element = 'area-chart';
            Morris.Area(config);
            config.element = 'line-chart';
            Morris.Line(config);
            config.element = 'bar-chart';
            Morris.Bar(config);
            config.element = 'stacked';
            config.stacked = true;
            Morris.Bar(config);
		    Morris.Donut({
		    element: 'pie-chart',
		    data: [
                {label: "Employees", value: 30},
                {label: "Clients", value: 15},
                {label: "Projects", value: 45},
                {label: "Tasks", value: 10}
		    ]
		    });
		</script>
        {{/block}}
    </body>

<!-- Mirrored from dreamguys.co.in/smarthr/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Jun 2018 10:43:06 GMT -->
</html>